.book-container{
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;

    
    height: 500px;
    background-color: #f7f7f7;
    
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 30px 20px;
    flex: 0 0 25%;
}
.image{
    height: 60%;
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    background: white;
    padding: 5px;
    
}
img{
    object-fit: cover;
    height: 100%;
    
}
.info{

}
.button{
   
}
.book-content{  
    margin-top: 20px;
}
.btn-book{
    background-color: #659cf5;
    border: #659cf5;
    transition: 0.2s;
    width: 60%;
}
.btn-book:hover{
    background-color: #f5be65;
}
.btn-book:focus{
    background-color: #f5be65;
}
.book-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }