.products-container{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product{
    width: 90%;
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border-radius: 30px;
    margin-bottom:30px;
    border: #659cf5 1px solid;
}
.img-container{
    width: 100px;
    height: 200px;
}
.img-container img{
    width: 200px;
    height: 200px;
}
.pitem{
    margin: 10px;
}
input{
    width: 70%;
}
.row .btn{
    width: 50%;
}
.total-container{
    text-align: center;
    margin-bottom: 40px;
}
.pret{
    font-weight: 600;
}
form{
    padding: 30px;
}
.btn-row{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.user-data{
    margin: 5px 0;
    text-align: center;
}
.content{
    padding: 30px;
}
.btn-primary{
    background-color: #659cf5;
    border: #659cf5;
    transition: 0.2s;
    width: 60%;
}
.btn-primary:hover{
    background-color: #f5be65;
}
.btn-primary:focus{
    background-color: #f5be65;
}